.round-image {
    width: 100px; /* גודל התמונה */
    height: 100px; /* גובה התמונה */
    border-radius: 50%; /* מגרעת את התמונה לעיגול */
    overflow: hidden; /* מביא להצגת רק חצי התמונה שבאמת נראה בעיגול */
  }
  
  /* לתמונה עצמה צריך להיות מסגרת מלאה עם רקע שקוף (transparent) */
  .round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* משאיר את התמונה בגודל המקסימלי ומתאים אותה לעיגול */
  }
  